#WEEK 9: DIVING INTO MACHINE LEARNING-- WHEN MEAN GIVES FLOATING NUM, WE REPLACE WITH MODE

In [1]:
import pandas as pd

In [2]:
Automobile_data = pd.read_csv('C:\\Users\\user\Desktop\\3MTT\\Automobile_data.csv')

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\user\AppData\Local\Temp\ipykernel_10628\3067145420.py:1: SyntaxWarning: invalid escape sequence '\D'
  Automobile_data = pd.read_csv('C:\\Users\\user\Desktop\\3MTT\\Automobile_data.csv')

In [3]:
Automobile_data

,make,fuel_type,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,curb_weight,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,city_mpg,highway_mpg,price
0,alfa-romero,gas,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,9.0,111,21,27,13495
1,alfa-romero,gas,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,9.0,111,21,27,16500
2,alfa-romero,gas,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,9.0,154,19,26,16500
3,audi,gas,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,70.0,102,24,30,13950
4,audi,gas,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,8.0,115,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,volvo,gas,four,sedan,rwd,front,109.1,188.8,68.9,55.5,2952,ohc,four,141,mpfi,9.5,114,23,28,16845
199,volvo,gas,four,sedan,rwd,front,109.1,188.8,68.8,55.5,3049,ohc,four,141,mpfi,8.7,160,19,25,19045
200,volvo,gas,four,sedan,rwd,front,109.1,188.8,68.9,55.5,3012,ohcv,six,173,mpfi,8.8,134,18,23,21485
201,volvo,diesel,four,sedan,rwd,front,109.1,188.8,68.9,55.5,3217,ohc,six,145,idi,23.0,106,26,27,22470
202,volvo,gas,four,sedan,rwd,front,109.1,188.8,68.9,55.5,3062,ohc,four,141,mpfi,9.5,114,19,25,22625

In [4]:
Automobile_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   make               203 non-null    object
 1   fuel_type          203 non-null    object
 2   num_of_doors       201 non-null    object
 3   body_style         203 non-null    object
 4   drive_wheels       203 non-null    object
 5   engine_location    203 non-null    object
 6   wheel_base         203 non-null    float64
 7   length             203 non-null    float64
 8   width              203 non-null    float64
 9   height             203 non-null    float64
 10  curb_weight        203 non-null    int64
 11  engine_type        203 non-null    object
 12  num_of_cylinders   203 non-null    object
 13  engine_size        203 non-null    int64
 14  fuel_system        203 non-null    object
 15  compression_ratio  203 non-null    float64
 16  horsepower         203 non-null    int64
 17  city_mpg           203 non-null    int64
 18  highway_mpg        203 non-null    int64
 19  price              203 non-null    int64
dtypes: float64(5), int64(6), object(9)
memory usage: 31.8+ KB

In [5]:
Automobile_data.describe()

,wheel_base,length,width,height,curb_weight,engine_size,compression_ratio,horsepower,city_mpg,highway_mpg,price
count,203.000000,203.000000,203.000000,203.000000,203.000000,203.000000,203.000000,203.000000,203.000000,203.000000,203.000000
mean,98.782759,173.999015,65.901478,53.733498,2555.921182,126.857143,10.452315,104.256158,25.241379,30.748768,12982.477833
std,6.045680,12.385511,2.154835,2.442864,523.205555,41.845239,5.792528,39.714369,6.570702,6.920406,8111.953571
min,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,48.000000,13.000000,16.000000,0.000000
25%,94.500000,166.300000,64.050000,52.000000,2145.000000,97.000000,8.550000,70.000000,19.000000,25.000000,7649.000000
50%,97.000000,173.200000,65.500000,54.100000,2414.000000,119.000000,9.000000,95.000000,24.000000,30.000000,10245.000000
75%,102.400000,183.300000,66.900000,55.500000,2943.500000,143.000000,9.400000,116.000000,30.000000,35.000000,16500.000000
max,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,70.000000,288.000000,49.000000,54.000000,45400.000000

In [6]:
Automobile_data.shape

(203, 20)

In [7]:
Automobile_data.isnull().sum()

make                 0
fuel_type            0
num_of_doors         2
body_style           0
drive_wheels         0
engine_location      0
wheel_base           0
length               0
width                0
height               0
curb_weight          0
engine_type          0
num_of_cylinders     0
engine_size          0
fuel_system          0
compression_ratio    0
horsepower           0
city_mpg             0
highway_mpg          0
price                0
dtype: int64

In [8]:
Automobile_data['make']

0      alfa-romero
1      alfa-romero
2      alfa-romero
3             audi
4             audi
          ...
198          volvo
199          volvo
200          volvo
201          volvo
202          volvo
Name: make, Length: 203, dtype: object

In [9]:
Automobile_data = pd.set_option('display.max_rows', None)

TypeError: 'NoneType' object is not subscriptable

In [10]:
Automobile_data

In [11]:
Automobile_data['make']

TypeError: 'NoneType' object is not subscriptable